@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans Condensed",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/assets/to-do.jpg");
  background-position: center;

  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  font-family: inherit;
  font-size: 2rem;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
input::placeholder {
  color: #555;
}
button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #000;
  font-family: inherit;
  border-radius: 10px;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  cursor: pointer;
  transition: all linear 0.3s;
}

@media only screen and (max-width: 600px) {
  input {
    padding: 0.3rem 0.7rem;
    font-size: 1.2rem;
  }
  button {
    align-self: center;
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}
